body {
    font-family: "Poppins", sans-serif;
}

fieldset,
legend {
    all: revert;
    font-size: 12px;
}

input[type="text"],
input[type="date"],
input[type="email"] {
    font-size: 12px;
}

select {
    font-size: 12px;
}

select option {
    font-size: 12px;
}